name: Magazine Front Workflow

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: action/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build
        run: |
          docker build -t ghcr.io/${{ github.repository }}/frontmagazin:${{ github.sha }} .

      - name: Docker push
        run: |
          docker push ghcr.io/${{ github.repository }}/frontmagazin:${{ github.sha }}

      - name: Deploy to Server
        run: | 
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'
          cd /home/deploy/frontend
          docker-compose pull
          docker-compose up -d
          EOF
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}  
        
          

