name: Magazine Front Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch: 


jobs:
  build:
  
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      
      - name: Docker build
        run: |
          docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          docker build -t ghcr.io/andrey666berkov/magazinefront/frontmagazin:latest .

      - name: Docker push
        run: |
          docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          docker push ghcr.io/andrey666berkov/magazinefront/frontmagazin:latest

      - name: Deploy to Server with Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no deploy@45.12.238.107 << 'EOF'
          cd /path/to/your/project
          docker-compose pull  
          docker-compose up -d 
          EOF
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }} 
        
          

